.formstyle{
   /* height: 800px;
    width: 600px;*/
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: space-between; 191d3a; */
    /*border:  1px solid rgb(255, 0, 0);*/
    padding: 2rem;
    border-radius: 4px;
    background-color: #182237;
    /*overflow-x: hidden;*/
}
.formstyle input,
.formstyle textarea{
    background-color: #29415d;
    font-weight: 400;
    border-radius: 4px;
    padding: 0.5rem;
    border: none;
}

.formstyle input,
.formstyle textarea:focus{
    outline: none;
}
.formstyle textarea{
    height: 300px;
}

.formstyle label{
    font-weight: 500;
}
.formstyle button{
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #4d82bc;
    border-radius: 7px;
    /* color: rgb(109, 11, 11); */
    transition: background-color 0.3s ease-in-out;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* Borde inferior */
    border: 2px solid rgba(255, 255, 255, 0.6); 
}
.formstyle button:hover{
    color: rgb(0 166 255);
}
.formstyle button:active{
    background-color: rgba(0, 0, 0, 0.5);
}
.error{
    color: #ff4d4d;
    font-weight: 400;
}
.select{
    font-weight: 400;
    background-color: #29415d;
    padding: 0.5rem;
}
